<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656038076/Zinma2.0/DSC06257_1_d0c22j.png", class:"d-block w-100 img") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655731250/Zinma2.0/kelly-sikkema-ettyLtH2GjU-unsplash_m26gq5.jpg", class:"d-block w-100 img") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655731274/Zinma2.0/matt-benson-rHbob_bEsSs-unsplash_dba4bx.jpg", class:"d-block w-100 img") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
