<% @documents.order(created_at: :desc).each do |document| %>
  <div class="card" >
    <h4 class="name-pdf"><%= document.name_document %></h4>
    <p class="authot-pdf"><%= document.created_by %>  - <%= document.created_at %></p>
  </div>
    <%= link_to "view",document.upload %>
<% end %>
