.sidebar {
  background-color: #FAFAFA;
}

.menu {
  font-family: "Helvetica bold";
  font-size: 27px;
  color: #7F816D;
  margin-top: 55px;
}

.category {
  color: #8A8989;
}

.category:hover {
  color: #545454;
}

.active23 {
  color: rgb(0, 0, 0);
}
